---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Roberto Castro" description="About Roberto Castro Lorem Ipsum" />
		<style>
			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Roberto</h1>
			<div class="bio wrapper">
				<p>
					My developer career started when I was 12 years old. At this age I learned my first
					programming language which was Visual Fox Pro. I absolutly fell in love with it. Also
					learned Visual Basic 6.0 and Visual Basic for Applications.
				</p>
				<p>
					Later on, in High School, went on to study Electronics, where I learned the basics of BASIC (pun intented),
					and some Arduino. This kept my love for programming very much alive, so I went to college to get my
					computer systems engineering degree.
				</p>
				<p>
					While in college, I had the opportunity to work with multiple technologies:
					<ul>
						<li>Django</li>
						<li>Spring Boot</li>
						<li>Angular</li>
						<li>Postgres</li>
						<li>MySQL</li>
						<li>And others...</li>
					</ul>
				</p>
				<p>
					I also acquired a deep knowledge of analysis and design principles to perfectly complement my coding skills:
					<ul>
						<li>UML Analysis and Design</li>
						<li>Database Designing</li>
						<li>Architectural Design</li>
						<li>Agile Development</li>
					</ul>
				</p>
				<p>
					Since my graduation, I've had the amazing opportunity to work in great companies such as:
				</p>

				<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
					<img style="max-width: 300px; margin-top: 10px;" src="/assets/work-places/sisa.png" alt="" srcset="">
					<img style="max-width: 300px; margin-top: 10px;" src="/assets/work-places/sec-innova.png" alt="" srcset="">
					<img style="max-width: 300px; margin-top: 10px;" src="/assets/work-places/aeroman.png" alt="" srcset="">
					<img style="max-width: 300px; margin-top: 10px;" src="/assets/work-places/digestyc.jpg" alt="" srcset="">
				</div>
			</div>
		</div>
		<Footer />
	</body>
</html>
